 /* general style tag content */
.hidden {
  display: none !important;
}
.fp_overlay{
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 1;
  background:transparent url(/images/pattern2.png) repeat-x bottom left;
}
/* HEADER */
nav.navbar.navbar-default {
  opacity: 0.6;
  background-color: white;
  border: none;
  border-radius: 0px;
  z-index: 3;
}
div.navbar-header * {
  color: black !important;
  opacity: 1 !important;
}
div.homepage {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url(/images/ml_bg_1024.jpg);
}
span.brand {
  font-style: italic;
  font-weight: bold;
  font-size: 120%; 
}
div.jumbotron {
  background-color: rgba(255,255,255,0.8);
}
div.modal-backdrop {
  z-index: 10 !important;
  position: relative !important; 
}
div#biography div.container {
  z-index: 11 !important;
}
/* FOOTER */
div.footer {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0px;
  background-color: rgba(255,255,255,0.5);
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 30px;
}
div.signup {
  float: right;
  margin-right: 30px;
}