<html>
  <head>
    <title>Mathieu Lemire - photography</title>
  </head>
  <body>
    <style type="text/css">
    {% autoescape false %}
      {{ css }}
    {% endautoescape %}
    </style>
    <div id="main">
      <!-- <div class="fp_overlay"></div> -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="brand">Mathieu Lemire</span></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class=""><a href="#">About</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for album in albums %}
                  <li><a href="/portfolio/{{ album }}">{{ album | capitalize }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
      <div class="clear"></div>
      <div class="signup">
        <form action="{{ conf['url'] }}/subscribe" method="POST" role="form" class="form-inline">
          <div class="form-group">
            <input id="rName" name="rName" type="text" value="{{ rName }}" class="hidden form-control input-sm"/>
          </div>
          <div class="form-group">
            <input id="rEmail" name="rEmail" type="text" value="{{ rEmail }}" class="hidden form-control input-sm"/>
          </div>
          <div class="form-group">
            <input id="name" name="name" type="text" placeholder="Enter your name" class="form-control input-sm"/>
          </div>
          <div class="form-group">
            <input id="email" name="email" type="text" placeholder="Enter your e-mail" value="{{ email }}" class="form-control input-sm"/>
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Subscribe</button>
        </form>
      </div>
      <div id="footer">
        <div class="row">
            <a class="" href="https://facebook.com/mathlphoto" target="_blank"><i class="icon-facebook icon-large icon-white">&nbsp;</i></a>
            <a class="" href="https://twitter.com/Lemirephoto" target="_blank"><i class="icon-twitter icon-large icon-white">&nbsp;</i></a>
            <!-- <a class="" href="https://twitter.com/espaciomore" target="_blank"><img src="/images/favicon.png" width="28" height="28"/>&nbsp;</i></a> -->
        </div>
      </div>
    </div>
    <script type="text/javascript">
    {% autoescape false %}
      {{ js }}
    {% endautoescape %}
    </script>
  </body>
</html>