<html>
  <head>
    <title>MailBot by espaciomore</title>
  </head>
  <body>
    <style type="text/css">
    {% autoescape false %}
      {{ css }}
    {% endautoescape %}
    </style>
    <h3>Invitation to MailBot</h3>
    <p>A fast growing startup company dedicated to serving you through managing<br/> 
      newsletter chains so you can follow up your clients just like we do, please<br/> 
      <a href="{{ conf['url'] }}/signup?rName={{ rName }}&rEmail={{ rEmail }}&email={{ email }}">
        <button class="btn btn-primary">sign up now</button>
      </a>
    </p>
    <script type="text/javascript">
    {% autoescape false %}
      {{ js }}
    {% endautoescape %}
    </script>
  </body>
</html>