<html>
  <head>
    <title>Mathieu Lemire - photography</title>
  </head>
  <body>
    <style type="text/css">
    {% autoescape false %}
      {{ css }}
    {% endautoescape %}
    </style>
    <div>
      <h1>Mathieu Lemire photography</h1>
      <p>Dear friend,</p>
      <p>Come see me at <a href="{{ conf['url'] }}/">mathieulemire.com</a></p>
      <label>Subscription e-mail:</label>
      <a href="{{ conf['url'] }}/signup?rName={{ rName }}&rEmail={{ rEmail }}&email={{ email }}">
        <button class="btn btn-primary">Join</button>
      </a>
    </div>
    <script type="text/javascript">
    {% autoescape false %}
      {{ js }}
    {% endautoescape %}
    </script>
  </body>
</html>