<html>
  <head> 
    <title>Mathieu Lemire - photography</title>
    <meta name="description" content="photography">
    <meta name="keywords" content="portfolio,photo">
    <meta name="author" content="mathieulemire">
  </head>
  <body>
    <style type="text/css">
    {% autoescape false %}
      {{ css }}
    {% endautoescape %}
    </style>
    <div class="fp_gallery" id="fp_gallery">
      <img style="" class="fp_preview" alt="/images/{{ album }}/{{ filename }}" src="/images/{{ album }}/{{ filename }}">
      <div class="fp_overlay"></div>
      <div class="fp_loading" id="fp_loading"></div>
      <div class="fp_next" id="fp_next"></div>
      <div class="fp_prev" id="fp_prev"></div>
      <div id="outer_container">
        <div id="thumbScroller">
          <div class="container">
            {% for image in thumbnails %}
            <div class="content">
              <div><a href="#"><img class="thumb" alt="/images/{{ album }}/{{ image }}" src="/images/{{ album }}/{{ image }}"></a></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="fp_thumbtoggle" id="fp_thumbtoggle">View Thumbs</div>
    </div>
    <script type="text/javascript">
    {% autoescape false %}
      {{ js }}
    {% endautoescape %}
    </script>
  </body>
</html>